@import url(/css/fonts.css);

:root {
  --primary-color: #b538a4;
  --link-color: #fff;
  --white: #fff;
  --roboto: "Roboto";
  --title-color: #fff;
  --title-color2: #212121;
  --text-color: #3f3f3f;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: var(--roboto);
  font-size: 14px;
}

.btn {
  width: 180px;
  background: #fb8a05;
  padding: 10px 30px;
  color: var(--white);
  border-radius: 0;
}

/* ====== Header Startimg =======*/
header {
  /* background: linear-gradient(to right, #693dab, #cd29a2); */
  background: url(../img/banner-bg.png) no-repeat center center / cover;
  height: 550px;
}

.header__nav-list {
  display: flex;
  column-gap: 25px;
}

.header__list-link {
  color: var(--link-color);
  font-size: 16px;
  font-weight: 300;

}

.header__list-link:hover {
  color: var(--link-color);
}

.header__menu {
  width: 40px;
  height: 1px;
  background: var(--white);
  position: relative;
  padding: 2px 0;
}

.header__menu::before,
.header__menu::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--white);
}

.header__menu::before {
  top: -10px;
}

.header__menu::after {
  top: 10px;
}

.header__menu:not(.collapsed)::before {
  transform: rotate(45deg);
  top: 0;
}

.header__menu:not(.collapsed)::after {
  transform: rotate(-45deg);
  top: 0;
}

.header__menu:not(.collapsed) {
  background: transparent;
  border: unset;
}

.header__corousel {
  display: flex !important;
  justify-content: space-between !important;

}

.header__corousel-title {
  color: var(--white);
  font-size: 70px;
  font-weight: 700;
}

.header__corousel-cor {
  padding: 100px;

}

.header__corousel-text {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  width: 550px;
}

.header__corousel-link {
  width: 180px;
  background: var(--white);
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
  color: #3f3f3f;
}

.header__corousel-link:hover {
  background: #fb8a05;
  color: var(--white);
  transition: .5s;
}

.header__corousel-button {
  display: flex;
  column-gap: 20px;
}

.header__corousel-btn2:hover {
  color: var(--white);
}

/* .nav-item{
  width: 100px;
} */
.header__list-link::after {
  content: '';
  display: block;
  background: #fb8a05;
  width: 0;
  height: 2px;
  transition: .5s;
}

.header__list-link:hover:after {
  width: 100%;
}

.header__corousel-slider {
  display: flex;
  column-gap: 20px;
}

.header__corousel-dot {
  width: 15px !important;
  height: 15px !important;
  background: unset;
  border: 2px solid var(--white) !important;
  border-radius: 50%;
  display: block;
}

.header__corousel-dot.active {
  background: var(--white);
}

/* ====== Header End ======*/

/* ====== Main Startimg =======*/

.main__content-forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -150px;
}

.main__imgs-img2 {
  margin-left: -80px;
  width: 500px;
}

.main__imgs-img1 {
  margin-left: 300px;
  transform: translateY(230px);
  width: 300px;
}

.main__imgs-img3 {
  margin-left: 300px;
  transform: translateY(-230px);
  width: 300px;
}

.main__form-title {
  background: var(--primary-color);
  width: 1000px;
  padding: 15px 30px;
  border-radius: 50px 0 0 50px;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}

.main__content-form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  overflow: hidden;
}

.main__form-text {
  width: 500px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.main__form-btn:hover {
  background: var(--primary-color);
  color: var(--link-color);
  transition: .5s;
}

.main__FACELITY {
  background: linear-gradient(to right, #693dab, #cd29a2);
  margin-top: -100px;
  padding: 100px 0;
}

.main__facelity-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__facelity-image {
  width: 600px;
}

.main__facelity-title {
  font-size: 30px;
  font-weight: 700;
  color: var(--title-color);
}

.main__facelity-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

.main__fecelity-items {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-left: 40px;
}

.main__item-image {
  background: var(--white);
  padding: 55px 25px;
  /* width: 100px; */
  border-radius: 20px;
}

.main__item-image2 {
  background: var(--white);
  padding: 55px 28px;
  /* width: 100px; */
  border-radius: 20px;
}

.main__item-image3 {
  background: var(--white);
  padding: 55px 43px;
  /* width: 100px; */
  border-radius: 20px;
}

.main__data-title {
  color: var(--white);
  font-size: 25px;
  font-weight: 400;
}

.main__data-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

.main__facelity-item {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 50px;
}

.main__blog-blogs {
  text-align: center;
  margin-top: 100px;
}

.main__blogs-title {
  font-size: 35px;
  font-weight: 700;
}

.main__blogs-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
}

.main__blog-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.main__blog-card {
  box-shadow: 0px 0px 60px 4px #eeeeef;
  padding: 50px;
  margin-top: 70px;
  position: relative;
}

.main__blog-card-items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main__blog-cards {
  width: 50px;
  height: 50px;
  background: #fb8a05;
  position: absolute;
  left: 0;
  top: 0;
}

.main__blog-cards-title {
  text-align: center;
  padding: 5px 0 0;
  color: var(--white);
}

.main__blog-card-title {
  font-size: 25px;
  font-weight: 500;
}

.main__blog-card-text {
  font-size: 16px;
  font-weight: 400;
}

.main__blog-card-link {
  display: flex;
  column-gap: 30px;
  margin-top: 20px;
}

.main__blog-card-links {
  font-size: 21px;
  font-weight: 550;
  color: var(--title-color2);
}

.main__blog-card-links:nth-child(2) {
  color: rgb(213, 29, 29);
}

.main__blog-card-links:hover {
  color: rgb(213, 29, 29);
  transition: .5s;
}

.main__requeste {
  margin-top: 100px;
  text-align: center;
}

.main__request-title {
  font-size: 50px;
  font-weight: 400;
  padding: 0 0 50px;
}

.main__request-regs {
  padding: 10px 20px;
}

.main__request-input {
  margin: 0 15px;
  padding: 15px 300px 15px 10px;
}

.main__request-btn {
  margin-top: 50px;
}

.main__request-link {
  background: #fb8a05;
  padding: 15px 70px;
  margin: 50px 0;
  color: var(--link-color);
  text-transform: uppercase;
  border-radius: 20px;
}

.main__request-link:hover {
  background: var(--primary-color);
  transition: .5s;
  color: var(--link-color);
}

.main__grooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.main__grooms-item-title {
  font-size: 30px;
  font-weight: 900;
  /* line-height: 27px; */
}

.main__grooms-img-image {
  width: 400px;
}

.main__grooms-item-div {
  margin-top: 50px;
  border: 1px solid #3f3f3f;
  padding: 50px;
}

.main__grooms-item-title2 {
  color: #fb8a05;
  font-size: 20px;
  font-weight: 900;
  padding: 0 0 30px 0;
}

.main__grooms-item-text {
  color: #747070;
  font-size: 16px;
  font-weight: 400;
  width: 600px;
}

.main__grooms-icon2 {
  color: #fb8a05;
  margin-left: -35px;
  padding: 40px 0 0 0;
}

/* ====== Main End ======*/

/* ====== Footer Startimg =======*/
   
footer{
   background: #3f3f3f;
   margin-top: 50px;
}
.footer__content-icons{
  text-align: center;
}
.footer__contsnt-icon{
  display: flex;
  column-gap: 20px;
  justify-content: center;
  padding: 35px 0;
}
.footer__icon-icons{
  color: var(--white);
}
.footer__content-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content-icon{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.footer__content-icon-link{
  color: var(--link-color);
  font-size: 16px;
  font-weight: 400;
  transition: .5s;
}
.footer__content-icon-link:hover{
   color: #fb8a05;
}
.footer__content-item2{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  padding: 25px 0;
}
.footer__content-item2-inp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content-input{
  padding: 10px 500px 10px 10px;
  border: unset;
}
.footer__content-link{
  color: #fb8a05;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  background: var(--white);
  padding: 6px 0;
  transition: .5s;
}
.footer__content-link:hover{
  color: #747070;
}
.footer__content-div{
  background: var(--white);
  width: 890px;
  height: 2px;
  margin-left: 120px;  
}
.footer__content-tem2-text{
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}
.footer__content-item2-link{
  color: var(--link-color);
  text-transform: capitalize;
  transition: .5s;
}
.footer__content-item2-link:hover{
  color: #fb8a05;
}

/* ====== Footer End ======*/